.additionally__title {
  font-size: 24px;

  line-height: 24px;

  color: #111111;
}

.additionally__list {
  list-style: none;
}

.additionally__item {
  font-size: 16px;

  line-height: 18px;

  color: #222222;
  text-transform: uppercase;
}

.form__submit {
  font-size: 16px;

  line-height: 20px;

  color: #ffffff;
  text-transform: uppercase;

  background-color: @leaf;
  border: none;
}

.form small {
  font-family: Arial;
  font-size: 14px;

  line-height: 16px;

  color: #444444;
}
