.advantages__title {
  font-size: 36px;

  line-height: 60px;

  color: #111111;
}

.advantages__list {
  list-style: none;
}

.advantages__description {
  font-family: Arial;
  font-size: 14px;

  line-height: 18px;

  color: #444444;
}
