.contacts {
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 20px;
  align-items: center;
  display: flex;
  width: 300px;
}

.contacts__offer {
  width: 140px;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
}

.contacts__text {
  width: 140px;
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;

  color: #444444;
}

.contacts--gray {
  background-color: @light-gray;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding: 0;
    padding-top: 47px;
    padding-bottom: 40px;
    width: 768px;
    justify-content: space-between;
  }
  .contacts__offer {
    margin-left: 72px;
    width: 170px;
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
  }
  .contacts__text {
    margin-right: 72px;
    width: 170px;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-align: right;

    color: #444444;
  }
  .contacts__text span {
    display: inline-block;
    padding-top: 20px;
  }
}
  @media (min-width: @desktop-width) {
    .contacts {
      display: none;
    }
  }
