.contacts {
  display: flex;
  width: 320px;
  margin: 0 auto;
}

.contacts__offer {
  font-size: 16px;
  padding: 0 20px;
  line-height: 20px;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
}

.contacts__text {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;

  color: #444444;
}

.contacts--gray {
  background-color: @light-gray;
}
