.example {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: @light-gray;
}

.example__title {
  margin: 0;
  padding: 0 20px;
  padding-top: 17px;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: #111111;
}

.example__description {
  margin: 0;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 23px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;

  color: #444444;
}

.example__parameters {
  padding: 0 20px;
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
}


.example__parameters-weight,
.example__parameters-days {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 54px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
}

.example__parameters-weight dt,
.example__parameters-days dt {
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;

  color: #111111;
  text-transform: uppercase;
  transform: translateY(-2px);
}

.example__parameters-weight dd,
.example__parameters-days dd {
  top: 46px;
  left: -23px;
  padding: 0 4px;
  display: inline-block;
  position: absolute;
  width: 80px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  text-align: center;
  color: #444444;
  background-color: @light-gray;
}

.example__text {
  padding-top: 6px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.example__image {
  padding-top: 20px;
}

.example__toggle {
  padding-top: 32px;
  padding-bottom: 36px;
  width: 196;
  display: flex;

  align-items: center;
}

.example__past,
.example__present {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;

  color: #111111;
  text-transform: uppercase;
}

.example__past {
  padding-left: 64px;
}

.example__switch {
  position: relative;
  margin-left: 19px;
  width: 80px;
  height: 12px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
}

.example__slider {
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @leaf;
  transform: translate(3px, 3px);

}
  .example__present {
  padding-left: 18px;
}

@media (min-width: @tablet-width) {
  .example {
    position: relative;
    margin-top: -36px;
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    border-top: @border;
  }
  .example__title {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    padding-top: 42px;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    color: #111111;
  }
  .example__description {
    margin: 0;
    padding: 0px;
    padding-top: 64px;
    padding-left: 30px;
    display: inline-block;
    width: 680px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
  }
  .example__parameters {
    padding: 0;
    margin-top: 41px;
    margin-left: 30px;
    width: 366px;
  }
  .example__parameters-weight,
  .example__parameters-days {
    width: 160px;
    height: 70px;
  }
  .example__parameters-weight dt,
  .example__parameters-days dt {
    font-size: 30px;
    line-height: 37px;
  }
  .example__parameters-weight dd,
  .example__parameters-days dd {
    top: 62px;
    left: -33px;
    padding: 0 2px;
    width: 142px;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    background-color: #ffffff;
  }
  .example__parameters-weight dd {
    left: -19px;
    width: 114px;
  }
  .example__text {
    margin-right: 30px;
    padding-top: 40px;
    display: inline-block;
    width: 174px;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    text-align: right;
    color: #111111;
    text-transform: uppercase;
  }
  .example__image {
    left: 46px;
    bottom: 112px;
    position: absolute;
    padding: 0;
    z-index: 1;
  }
  .example__wrapper {
    position: relative;
    margin-top: 240px;
    display: block;
    width: 768px;
    height: 462px;
    background-color: #f2f2f2;
  }
  .example__toggle {
    bottom: 38px;
    position: absolute;
    width: 768px;
    display: flex;
    align-items: center;
  }
  .example__past,
  .example__present {
    padding-left: 0px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }
  .example__past {
    margin-left: 99px;
  }
  .example__switch {
    position: static;
    margin-left: 24px;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    border: none;
    background-color: #dcdcdc;
  }
  .example__slider {
    left: 50%;
    bottom: 33px;
    margin-left: -19px;
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-color: @leaf;
    border-radius: 50%;
    border: 12px #ffffff solid;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
  }
  .example__present {
    margin-left: 19px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    position: relative;
    margin-top: 0;
    width: 1440px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: @light-gray;
    border-top: none;
  }
  .example__title {
    margin: 0;
    padding: 0;
    padding-left: 110px;
    padding-bottom: 85px;
    width: 1440px;
    font-size: 60px;
    line-height: 40px;
    font-weight: normal;
    color: #111111;
    background-color: #ffffff;
  }
  .example__description {
    margin: 0;
    padding: 0;
    padding-top: 72px;
    padding-left: 110px;
    width: 438px;
  }
  .example__parameters {
    padding: 0;
    margin-top: 55px;
    margin-left: 110px;
    width: 366px;
  }

  .example__parameters-weight dd,
  .example__parameters-days dd {
    background-color: @light-gray;
  }
  .example__text {
    margin-right: 0px;
    margin-left: 110px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 328px;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    color: #111111;
    text-transform: uppercase;
  }
  .example__image {
    left: 680px;
    bottom: 132px;
    position: absolute;
    padding: 0;
    z-index: 0;
  }
  .example__wrapper {
    padding-left: 660px;
    position: static;
    margin-top: 0px;
    display: block;
    width: 1440px;
    height: 54px;
    background-color: transparent;
  }
  .example__toggle {
    bottom: 38px;
    position: absolute;
    width: 768px;
    display: flex;
    align-items: center;
  }
  .example__past,
  .example__present {
    padding-left: 0px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }
  .example__past {
    margin-left: 99px;
  }
  .example__switch {
    position: static;
    margin-left: 24px;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    border: none;
    background-color: #dcdcdc;
  }
  .example__slider {
    left: 50%;
    bottom: 33px;
    margin-left: -19px;
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-color: @leaf;
    border-radius: 50%;
    border: 12px #ffffff solid;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
  }
  .example__present {
    margin-left: 19px;
  }
}
