.example {
  display: flex;
  flex-direction: column;
  background-color: @light-gray;
}

.example__title {
  font-size: 36px;

  line-height: 60px;

  color: #111111;
}

.example__description {
  font-family: Arial;
  font-size: 14px;

  line-height: 18px;

  color: #444444;
}

.example__parameters-weight dt,
.example__parameters-days dt {
  font-size: 24px;

  line-height: 24px;

  color: #111111;
  text-transform: uppercase;
}

.example__parameters-weight dd,
.example__parameters-days dd {
  font-family: Arial;
  font-size: 12px;

  line-height: 12px;

  color: #444444;
}

.example__text {
  font-size: 14px;

  line-height: 20px;

  color: #111111;
  text-transform: uppercase;
}

.example__past,
.example__present {
  font-size: 16px;

  line-height: 20px;

  color: #111111;
  text-transform: uppercase;
}
