.form {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 280px;
}

.form__submit {
  display: inline-block;
  margin-top: 14px;
  font-size: 16px;
  font-weight: normal;
  width: 280px;
  align-self: center;
  line-height: 38px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: @leaf;
  border: none;
  cursor: pointer;
}

.form small {
  margin-top: 21px;
  margin-bottom: 32px;
  display: inline-block;
  align-self: center;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 16px;
  width:280px;
  color: #444444;

}

.form__parameters {
  font-size: 16px;

  line-height: 18px;

  color: #222222;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .form {
    position: relative;
    display: flex;
    width: 768;
    margin: 0 auto;
    flex-direction: column;
  }

  .form__wrapper {
    margin: 0;
    margin-left: 70px;
    padding-top: 4px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 524px;
  }

  .form__submit {
    margin-top: 0px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    width: 283px;
    line-height: 50px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: @leaf;
    border: none;
    cursor: pointer;
  }

  .form small {
    padding-top:3px;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    line-height: 16px;
    color: #444444;
    width: 192px;
  }

  .form__parameters {
    font-size: 16px;

    line-height: 18px;

    color: #222222;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .form {
    margin: 0 auto;
    position: relative;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__wrapper {
    margin: 0;
    margin-left: 110px;
    padding-top: 8px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 832px;
  }

  .form__submit {
    position: static;
    margin-top: 0px;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    width: 568px;
    line-height: 50px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: @leaf;
    border: none;
    cursor: pointer;
  }

  .form small {
    padding-top: 6px;
    display: inline-block;
    align-self: flex-end;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    color: #444444;
  }

  .form__parameters {
    font-size: 16px;

    line-height: 18px;

    color: #222222;
    text-transform: uppercase;
  }
}
