
.intro {
  background: url(../img/index-background-mobile@1x.jpg) no-repeat;
  width: 320px;
  height: 305px;

  background-color: @leaf;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.intro__text {
  font-size: 14px;

  line-height: 14px;

  color: #ffffff;
  text-transform: uppercase;
}
