.map {
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  width: 320px;
  height: 362px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .map {
    position: relative;
    background-image: url(../img/bg-map-tablet@1x.png);
    width: 768px;
    height: 400px;
  }
  .map__pin {
    left: 322px;
    top: 145px;
    position: absolute;
  }
}

@media (min-width: @desktop-width) {
  .map {
    position: relative;
    background-image: url(../img/bg-map-desktop@1x.png);
    width: 1440px;
    height: 400px;
  }
  .map__pin {
    left: 998px;
    top: 151px;
    position: absolute;
  }
}
