.map {
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  width: 320px;
  height: 362px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .map {
    background-image: url(../img/bg-map-tablet@1x.png);
    min-height: 396px;
    width: 768px;
  }
}
