.parameters {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 280px;
  margin: 0 auto;
}

.parameters__name,
.parameters__weight,
.parameters__age {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
}

.parameters__name input,
.parameters__weight input,
.parameters__age input {
  height: 45px;
  border: @border;
  margin-bottom: 14px;
}
