.product {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 320px;

  border: @border;
  border-bottom: none;
}

.product__wrapper {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 280px;
}

.product__image {
  margin: 0;
  padding: 0;
  background-color: blue;
  display: block;
  width: 140px;
  height: 144px;
}

.product__text {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  background-color: blue;
}

.product__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  width: 90px;
  text-transform: uppercase;

}

.product__title a {
  margin: 0;
  padding: 0;
  color: #111111;
}

.poduct__features {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 140px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: #444444;

}

.product__modal-show {
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;

  color: #ffffff;
  text-transform: uppercase;

  background-color: @leaf;
}
