.promo {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.promo__background {
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-color: @leaf;
  width: 280px;
  height: 289px;
}

.promo__text {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  width: 150px;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .promo {
    min-height: 200px;
    width: 768px;
  }
  .promo__background {
    background-image: url(../img/gift-photo-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-color: @leaf;
    width: 708px;
    height: 200px;
  }
}
