.radio__list {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: @border;
}

.radio__item {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  padding-left: 20px;
  color: #222222;
  text-transform: uppercase;
}
