.rest {
  display: flex;
  flex-direction: column;
  border-top: @border;
}

.rest__title {
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;

  color: #222222;
  text-transform: uppercase;
}

.rest__item,
.rest__value {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;

  color: #444444;
}

.rest__modal-show {
  display: inline-block;
  width: 280px;
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: @leaf;
}
