.social {
  margin: 0;
  padding: 0;
  width: 280px;
}

.social__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.social__link--vkontakte svg {
  width: 22px;
}

.social__link--instagram svg {
  width: 17px;
}

.social__link--facebook svg {
  width: 10px;
}
